body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Nav Bar 고정 해제 */
.navbar {
    position: static;
}

.navbar-nav .nav-link[href="#features"] {
    font-size: 12px;
    /* 원하는 크기로 설정 */
}

.navbar-nav .nav-link[href="#about"] {
    font-size: 12px;
}

.navbar-nav .nav-link[href="#testimonials"] {
    font-size: 12px;
}

.navbar-nav .nav-link[href="#contact"] {
    font-size: 12px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}



.product-item {
    background-color: white;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(10, 7, 7, 0.1);
}

.product-rank {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #edf1ea;
    color: rgb(236, 118, 118);
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
}

.product-name {
    font-size: 1rem;
    margin: 10px 0;
    color: #333;
}

.product-brand {
    font-size: 0.9rem;
    color: #777;
}

.product-price {
    font-size: 1.2rem;
    margin: 10px 0;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}

.discounted-price {
    font-weight: bold;
    color: #d9534f;
}

.product-discount {
    font-size: 0.9rem;
    color: #d9534f;
}

.product-reviews {
    font-size: 0.8rem;
    color: #777;
}